<section id="about">
  <div class="container">
    <div class="left">
      <img src="imgs\selfie.jpg" alt="Picture of me" />
    </div>
    <div class="right shadow">
      <h2>about me</h2>
      <p>
        My name is Kevin. I am a <%= myAge %> year old programmer from
        Jacksonville, Fl. I use JavaScript, CSS, HTML and several different
        libraries and frameworks to develop modern web applications.
      </p>
    </div>
  </div>
</section>
