<section id="overview" class="shadow">
  <div class="container">
    <div class="left">
      <h1>Kevin Jordan</h1>
      <h2>Web Developer</h2>
      <p>I build and design responsive applications for the web.</p>
    </div>
    <div class="right">
      <img
        class="overview-img"
        src="\imgs\christian-wiediger-WkfDrhxDMC8-unsplash.jpg"
        alt="Close Up Image of Keyboard"
      />
    </div>
  </div>
</section>
