<section id="projects">
  <div class="container">
    <div class="right">
      <div class="carousel">
        <div class="carousel-component" style="background-color: red">
          Content
        </div>
      </div>
    </div>
  </div>
</section>
