<section id="projects">
  <div class="container">
    <div class="project-section">
      <div class="carousel">
        <img
          class="carousel-item"
          src="/imgs/smart macro 1.PNG"
          alt="Smart Macro App Screenshot"
        />
        <img
          class="carousel-item active"
          src="/imgs/smart macro 2.PNG"
          alt="Smart Macro App Screenshot"
        />
      </div>
    </div>
  </div>
</section>
