* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkest: #06283d;
  --primary: #1363df;
  --secondary: #47b5ff;
  --lightest: #dff6ff;
}

body {
  margin: 0 auto;
  background-color: #fff;
  color: #222;
  font-family: "Merriweather Sans", sans-serif;
}

section {
  min-height: 100vh;
}

h2 {
  font-size: 2rem;
}

.shadow {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.413);
}

/* OVERVIEW */
#overview {
  background-color: var(--darkest);
  color: var(--secondary);
}

#overview h1 {
  color: #fff;
  font-size: 4rem;
}

#overview h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

#overview h1,
h2 {
  line-height: 3.5rem;
}

#overview p {
  font-size: 1.5rem;
}

#overview img {
  width: 80%;
  border-radius: 2rem;
}

.container {
  padding: 7% 13%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.left,
.right {
  flex: 0 0 auto;
  width: 50%;
  text-align: center;
}

#overview .left {
  text-align: right;
}

/* ABOUT */
#about .container {
  padding: 12% 13%;
}

#about img {
  width: 70%;
  border-radius: 100%;
}

#about h2 {
  margin-bottom: 1.5rem;
}

#about .right {
  text-align: left;
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 2rem;
  line-height: 2rem;
  letter-spacing: 0.08rem;
  border-radius: 2rem;
}

/* PROJECTS (CAROUSEL) */
#projects {
  background-color: var(--darkest);
}

.carousel-component {
  width: 24rem;
  height: 18rem;
}
