* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --darkest: #06283d;
  --primary: #1363df;
  --secondary: #47b5ff;
  --lightest: #dff6ff;
}

body {
  margin: 0 auto;
}

/* OVERVIEW */
#overview {
  background-color: var(--darkest);
  color: var(--lightest);
}

#overview h1 {
  color: #fff;
  font-size: 5rem;
}

#overview h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

#overview h1,
h2 {
  line-height: 4rem;
}

p {
  font-size: 1.5rem;
}

.container {
  padding: 5%;
  width: max-content;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}

.overview-img {
  width: 600px;
  height: 400px;
  border-radius: 2rem;
}
